  <div id ="intro" class="container">
    <h2>サイトについて</h2>
    <p>このアプリはこのアプリはこのアプリはこのアプリはこのアプリはこのアプリはこのアプリはこのアプリはこのアプリはこのアプリは</p>
  </div>
  <div id ="use" class="container">
    <h2>使い方</h2>
    <p>このアプリはこのアプリはこのアプリはこのアプリはこのアプリはこのアプリはこのアプリはこのアプリはこのアプリはこのアプリは</p>
  </div>
  <div id ="show" class="container">
    <h2>投稿一覧</h2>
  </div>