<% if current_user.liked_by?(comment.id) %>
  <span><%= link_to 'いいねを外す', destroy_comment_like_path(comment), method: :DELETE, remote: true %><%= comment.comment_likes.count %></span>
<% else %>
  <span><%= link_to 'いいね', create_comment_like_path(comment), method: :POST, remote: true %><%= comment.comment_likes.count %></span>
<% end %>