<span>
  <% if comment.user_id == current_user.id %>
      <i class="fa fa-heart like-btn1"></i>
      <%= comment.comment_likes.count %>
  <% else %>
    <%= link_to create_comment_like_path(comment), class: "like-link", method: :POST, remote: true do %>
      <i class="fa fa-heart like-btn1"></i>
      <%= comment.comment_likes.count %>
    <% end %>
  <% end %>
</span>