/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


/* 基本設定 */
body {
  background: #f8f8f8;
  margin: 0px;
}

a {
  text-decoration: none;
}
h2{
  margin-bottom: 15px;
}

/* 全体構造 */

#wrapper{
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}
#intro{
  height: 500px;
  background-image: image-url("top_image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  text-align: left;
  padding:40px 430px 0 40px;
  font-size: 22px;
}
#use{
  background-color: cornflowerblue;
}
#show{
  background-color: #eee;
}
.container{
  padding: 30px 0 100px;
}

/* ヘッダー */
header{
  background-color:#FFD700;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 15px;
}
.nav ul{
  display: flex;
}
.nav ul .login, .sign-up, .logout{
  padding: 4px 15px;
  margin-left: 8px;
  border: 1px solid #999;
  border-radius: 3px;
}

/* フッター */
footer{
  background-color:#ccc;
  text-align: center;
  font-size:12px;
  padding: 30px 0;
}

/* 新規登録・ログイン */
#devise{
  background: #eee;
  width: 400px;
  margin: 20px auto;
}
#devise h2{
  text-align: center;
}
#devise .submit{
  text-align: center;
  margin: 20px auto;
}
#devise .submit-btn{
  width: 200px;
  color: #fff;
  background: cornflowerblue;
  padding: 10px;
  border: none;
  font-weight: bold;
}