/* ==========================================
質問投稿画面(new.html)
========================================== */
#question{
  width: 650px;
}



.f_qtitle{
  width: calc(100% - 200px);
  height: 45px;
}

.f_qoutline{
  width: calc(100% - 200px);
  height: 140px;
}
.line{
  align-items: flex-start;
}
.line-form{
  display: flex;
  flex-flow: column;
}
.nested-fields{
  width: 100%;
}
.message_fields{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}
.f_mailarea{
  width: calc(100% - 110px);
  height: 50px;
  margin: 0px 5px;
}
.delete a{
  display: block;
  width: 50px;
  background: grey;
  color: #fff;
  padding: 3px;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
}

.delete a:hover{
  background-color: #333;
}
.add{
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  margin-top: 10px;
}
.add a{
  background: #DD0000;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
}
.add a:hover{
  background: blue;
}


/* ==========================================
添削画面(show.html)
========================================== */

/* === 全体構造 ================= */

#q-tensaku{
  display: flex;
  justify-content: space-between;
  width: 1050px;
}
#q-tensaku .column-left{
  width:470px;
}
#q-tensaku .column-right{
  width: 470px;
}

/* 見出し */
#q-tensaku .headline{
  color: white;
  background: #DD0000;
  padding: 7px;
}

/* === カラム左 ================= */

#q-tensaku .top-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#q-tensaku .title{
  position: relative;
  display: inline-block;
  margin: 0 0 0px 15px;
  padding: 7px 10px;
  width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  text-align: left;
}
#q-tensaku .title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}
#q-tensaku .title:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}
#q-tensaku .user{
  display: flex;
  align-items: center;
  width: 20%;
}
#q-tensaku .user-name{
  color: #999;
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
}
#q-tensaku .user img{
	width:85px;
	height:85px;
	object-fit:cover;
	border-radius:50%;
  object-position:50% 10%;
}


/* 投稿内容の編集 */
.question-edit{
  display: flex;
  justify-content: space-around;
  margin: 12px auto 20px;
}
.question-edit p{
  width: 48%;
  padding: 5px;
  border-radius: 4px;
}
.question-edit .edit{
  background-color: #FFC0CB;
}
.question-edit .close{
  font-size: 16px;
  color: white;
  width: 48%;
  padding: 5px;
  border-radius: 4px;
  background-color: gray;
  border: none;
  cursor: pointer;
  cursor: hand;
}



/* 続きを読む */
#q-tensaku .outline {
  display: table;
  margin: 0px auto 20px;
  position: relative;
}

.expand {
  width: 100%;
  max-height: 120px;
  text-align: left;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #aaa;
  transition: .5s;
  padding-bottom: 20px;
}

.expand::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    pointer-events: none;
    transition: 1s;
}

#q-tensaku .outline input {
  visibility: hidden;
}

#q-tensaku .outline label {
  position: absolute;
  bottom: -.8em;
  display: block;
  font-size: .9em;
  padding: .20em 10px;
  margin: auto;
  width: 100px;
  right: 0;
  left: 0;
  background: #aaa;
  color: white;
  z-index:999;
  cursor: pointer;
  text-transform: uppercase;
}

#q-tensaku .outline label:before {
  content: "続きを読む";
}

#q-tensaku .outline input:checked + label:before {
  content: "閉じる"
}

input[type=checkbox]:checked ~ .expand {
 max-height: 500px;
}

input[type=checkbox]:checked ~ .expand:before {
 opacity: 0
}


#q-tensaku .sentence{
  margin: 0 auto;
  padding: 25px 15px 15px 15px;
  text-align: center;
  background-image: image-url("line_bg.jpeg");
}
#scroll{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 5px;
}


/* 自分のメッセージ */

.sentence-1 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.sentence-1 .faceicon {
  float: right;
  margin-left: -20px;
  width: 40px;
}

.sentence-1 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.sentence-1 .chatting {
  width: 100%;
  text-align: left;
}
.sentence-1 .says {
  float: right;
  display: inline-block;
  position: relative; 
  margin-right: 30px;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}
.sentence-1 .advice{
  max-width: 320px !important;
}

.sentence-1 .says:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.sentence-1 .says p {
  margin: 0;
  padding: 0;
}
.sentence-1 .who{
  color: #fff;
  font-size:13px;
  text-align: right;
  margin-right: 55px;
  margin-bottom: 2px;
}


/* 相手のメッセージ */

.sentence-2 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.sentence-2 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.sentence-2 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.sentence-2 .chatting {
  width: 100%;
  text-align: left;
}
.sentence-2 .says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.sentence-2 .says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.sentence-2 .says p {
  margin: 0;
  padding: 0;
}
.sentence-2 .who{
  color:#fff;
  font-size:13px;
  text-align: left;
  margin-left: 55px;
  margin-bottom: 2px;
}


.tensaku-point{
  font-size: 115%;
  font-weight: bold;
  color: white;
  text-shadow:1px 1px 0 #f00,-1px 1px 0 #f00,1px -1px 0 #f00,-1px -1px 0 #f00;
}
.keyframe {
  animation-name: anim_sc;
  transform: scale(0.9, 0.9);
}
@keyframes anim_sc {
  100% {
    transform: scale(1, 1);
  }
}
.animation {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.2s;
}

.sentence-1-margin{
  margin-top: 20px;
}

/* === カラム右 ================= */

.minna-tensaku{
  position: relative;
  margin-bottom: 10px;
}

.comment-link{
  position: absolute;
  font-size: 13px;
  right: 5px;
  padding: 3px;
}
.comment-link a{
  background: #FFC0CB;
  padding: 5px 15px;
  border-radius: 4px;
}
.comment-link a:hover{
  background: #FF6347;
}
.comment-login{
  display: block;
  color: white;
  background: blue;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}
.comment-login:hover{
  background: black;
}

/* === 終了ポップアップウインドウ ========================================== */
.close-b{
  display: block;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}
/* === 終了した相談 ================= */
.close-message{
  color: #DD0000;
  font-weight: bold;
  margin-top: 50px;
  font-size: 28px;
}
