/* ==========================================
質問投稿画面(new.html)
========================================== */
#question{
  width: 650px;
}

#question-table .item{
  background-image: image-url("nayami.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 250px;
  height: 250px;
  text-align: left;
  padding: 5px;
  margin: 0 8px;
}
#question-table .item .title{
  background: #FFFFCC;
  padding: 8px;
  border-radius: 7px;
}

.f_qtitle{
  width: calc(100% - 200px);
  height: 45px;
}

.f_qoutline{
  width: calc(100% - 200px);
  height: 140px;
}
.line{
  align-items: flex-start;
}
.line-form{
  display: flex;
  flex-flow: column;
}
.nested-fields{
  width: 100%;
}
.message_fields{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}
.f_mailarea{
  width: calc(100% - 110px);
  height: 50px;
  margin: 0px 5px;
}
.delete a{
  display: block;
  width: 50px;
  background: grey;
  color: #fff;
  padding: 3px;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
}

.delete a:hover{
  background-color: #333;
}
.add{
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  margin-top: 10px;
}
.add a{
  background: #DD0000;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
}
.add a:hover{
  background: blue;
}


/* ==========================================
添削画面(show.html)
========================================== */

#q-tensaku{
  display: flex;
  width: 1030px;
  margin: 20px auto;
}
#q-tensaku .column-left{
  width:250px;
  background: #eee;
}
#q-tensaku .title{
  text-align: left;
  margin-bottom: 10px;
}
#q-tensaku .user{
  text-align: center;
}
#q-tensaku .user img{
	width:170px;
	height:170px;
	object-fit:cover;
	border-radius:50%;
  object-position:50% 10%;
}
#q-tensaku .outline{
  text-align: left;
}
#q-tensaku .column-center{
  width:450px;
  background-image: image-url("line_bg.jpeg");
  margin: 0 15px 0 15px;
}
#q-tensaku .sentence{
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}
#q-tensaku .sentence-1{
  background: white;
  padding: 8px;
  border-radius: 8px;
  width: 300px;
  color:blue;
  text-align: left;
  margin:0 auto 20px auto;
}
#q-tensaku .sentence-2{
  color:red;
  background: white;
  padding: 8px;
  border-radius: 8px;
  width: 300px;
  text-align: right;
  margin:0 auto 20px auto;
}
#q-tensaku .column-right{
  width: 300px;
  background: #999;
}