.like-link {
  text-decoration: none;
  margin-left: 8px;
}

.like-link:hover {
  background-color: none!important;
}

.like-btn0 {
  font-size: 15px;
  color: #808080;
}
 
.unlike-btn {
  font-size: 15px;
  color: #e54747;
}
.like-btn1 {
  font-size: 15px;
  color: #e54747;
}