/* 新規登録・ログイン */
#devise{
  background: #eee;
  width: 400px;
  margin: 20px auto;
}
#devise h2{
  text-align: center;
}
#devise .submit{
  text-align: center;
  margin: 20px auto;
}
#devise .submit-btn{
  width: 200px;
  color: #fff;
  background: cornflowerblue;
  padding: 10px;
  border: none;
  font-weight: bold;
}