/* 新規登録・ログイン */
#devise{
  width: 600px;
}
.pass-form{
  display: flex;
  flex-flow: column;
}
.f_form{
  width: 100%;
  padding: 4px;
}
.f_tarea{
  width: calc(100% - 200px);
  height: 140px;
}
.select-box{
  width: 150px;
  padding: 4px;
}
.minimam_pass{
  display: block;
  font-size: 11px;
  margin-top: 4px;
  font-style: italic;
  color: brown;
}
.click-upload{
  width: calc(100% - 200px);
  text-align: left;
  padding-bottom: 15px;
}
.click-upload .text{
  margin-bottom: 10px;
}