@media screen and (max-width:480px) {
 
body{
  max-width: 480px;
}

h2{
  font-size: 24px;
}

/* 基本ボックス */
.box{
  background-color: white;
  padding: 10px;
  margin: 10px 7px 20px 7px;
}
.box h2{
  margin-bottom: 30px;
}

/* === ヘッダー ========================================== */

header{
  display: block;
  padding: 10px 15px;
}

.header-left{
  text-align: center;
  margin: 10px 0;
}
.nav{
  display: block;
}
.nav .user-info{
  margin-bottom: 10px;
}
.nav ul .btn{
  padding: 3px 10px;
  margin-left: 8px;
  color: white;
  font-size:13px;
}
.nav ul .login, .sign-up, .logout{
  padding: 3px 10px;
  margin-left: 8px;
  font-size: 13px;
}


/* === トップページ ========================================== */

#intro{
  position: static;
  padding: 8px 8px 25px 8px;
  background-image: image-url("/images/top_image1.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: none;
}
#intro .image-anime{
  display: none;
}
#intro h2{
  color: white;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 30px;
}
#intro .intro-message{
  position: static;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  width: 100%;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(175, 89, 89) !important;

}
#intro .intro-message ul{
  margin: 15px 0px 15px 0px;
}
#intro .intro-message li{
  margin-bottom: 8px;
}

.use{
  margin: 0px 0px 20px 0px;
  padding: 0 10px;
}
.use .image{
  width: 30%;
  max-height: 130px;
  padding: 0 5px;
}
.use img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.use-right h3{
  justify-content: start;
}
.use h3{
  font-size: 20px;
}
.use .text{
  width: 70%;
  font-size: 14px;
  line-height: 160%;
}


#question-table{
  width: 100%;
  display: block;
  margin: 60px auto 50px;
}

/* 相談一覧ボタン */
#question-table .post{
  margin: 0 auto 20px auto;
}

.search-form .search-input{
  width: calc(100% - 90px);
  margin: 0px;
}

.search-form .search-btn {
  width: 60px;
}
.search-form input[type="submit"] {
  border-radius: 5px;
  font-size: 18px;
}

/* === ユーザー情報ページ ========================================== */

#user-prof{
  width: calc(100% - 14px) !important;
}
#user-prof h2{
  text-align: center;
  width: initial;
  margin: 0 auto 30px auto;
}
#user-prof .prof-top .legend-icon{
  font-size:16px;
  margin-bottom: 10px;
}
#user-prof .prof-top .text{
  width: calc(100% - 120px) !important;
}
#user-prof .prof-top .image img{
	width:100px !important;
	height:100px !important;
	object-fit:cover;
	border-radius:50%;
  object-position:50% 10%;
}
.user-info .suma{
  display: flex;
  align-items: center;
  color:#DD0000;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  margin-right: 10px;
}

/* === 賞品交換一覧 ========================================== */
#change{
  width: auto !important;
}
.change-br::before {
  content: "\A";
  white-space: pre;
}
.item{
  display: block !important;
  font-size: 13px;
}
.item .image{
  margin: 0 0 20px 0;
  clear: both;
}

/* === 相談投稿一覧 ========================================== */
#question{
  width: auto;

  textarea{
    width: 100%;
  }
  .field{
    display: block;

    .label{
      margin-bottom: 10px;
    }
  }
  .line-form{
    width: 100% !important;
  }
  .message_fields{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;

  }

}

/* === レジェンドティーチャー一覧 ========================================== */
#legend{

  .swiper{
    width: 100%;
    margin: 40px 10px 0px 0px;
  }
  .swiper-slide{
    width: 100px !important;
  }
  .member{
    width: 100px;
    color: #333;
    background: white;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 14px;
    margin: 0 8px;
    box-shadow: 0 0 10px gray;

    img{
      width:70px;
      height:70px;
  
    }
  }
}



/* ここまで */
}