/* ユーザー情報 */

#user-prof{
  width: 600px;
  text-align: left;
}
#user-prof h2{
  text-align: center;
  width: 300px;
  margin: 0 auto 30px auto;
}
#user-prof .prof-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#user-prof .prof-top .position{
  font-size:20px;
  margin-bottom: 10px;
}
#user-prof .prof-top .text{
  width: calc(100% - 200px);
}
#user-prof .prof-top .image img{
	width:170px;
	height:170px;
	object-fit:cover;
	border-radius:50%;
  object-position:50% 10%;
}
#user-prof .prof-top .pt-change{
  margin-left: 15px;
}


#user-prof .pr{
  margin-bottom: 20px;
} 
#user-prof .title{
  font-size:16px;
  font-weight: bold;
  color: #DD0000;
  background:linear-gradient(transparent 60%, #ffffbc 0%) ;
  margin-bottom: 10px;
}
#user-prof .text-box{
  margin-bottom: 30px;
}



#prof-edit{
  display: block;
  width: 300px;
  padding:10px;
  color: whitesmoke;
  background: red;
  border-radius: 8px;
  margin: 0 auto 10px;
}
#prof-destroy{
  display: block;
  width: 300px;
  padding:10px;
  color: black;
  background: burlywood;
  border-radius: 8px;
  margin: 0 auto 30px;
}

/* === ユーザー情報の編集 ========================================== */

.back{
  margin-bottom: 30px;
}


/* === 現在相談中の内容 ========================================== */
.now-question #question-table{
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  margin: 0px auto 0px;
}
.now-question #question-table .post{
  position: relative;
  background-image: image-url("nayami.jpeg");
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: right bottom;
  background-color: white;
  width: 230px;
  height: 200px;
  text-align: left;
  padding: 8px;
  margin: 0px;
  border: 3px solid #000;
}

.now-question #question-table .post .title{
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 7px 10px;
  width: 100%;
  max-width: 100%;
  color: #333;
  font-size: 14px;
  line-height: 140%;
  border: solid 3px #333;
  box-sizing: border-box;
  background: #FFFFE0;
}

/* === これまでにアドバイスした相談 ========================================== */
.archive li{
  margin: 0 0 10px 5px;
}
.archive-link{
  font-size:14px;
  padding-left: 5px;
}
.archive-link:hover{
  text-decoration: underline;
}