/* ユーザー情報 */

#user-prof{
  width: 650px;
  text-align: left;
}
#user-prof h2{
  text-align: center;
  width: 300px;
  margin: 0 auto 30px auto;
}
#user-prof .prof-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#user-prof .prof-top .position{
  font-size:20px;
  margin-bottom: 10px;
}
#user-prof .prof-top .text{
  width: calc(100% - 200px);
}
#user-prof .prof-top .image img{
	width:170px;
	height:170px;
	object-fit:cover;
	border-radius:50%;
  object-position:50% 10%;
}
#user-prof .prof-top .pt-change{
  margin-left: 15px;
}


#user-prof .pr{
  margin-bottom: 20px;
} 
#user-prof .title{
  font-size:16px;
  font-weight: bold;
  color: #DD0000;
  background:linear-gradient(transparent 60%, #ffffbc 0%) ;
  margin-bottom: 15px;
}
#user-prof .text-box{
  margin-bottom: 30px;
}
#image-list{
  margin-bottom: 10px;
  overflow: hidden;
}
#image-list img{
  width: 90%;
  height: 90%;
}



#prof-edit{
  display: block;
  font-size: 16px;
  width: 300px;
  padding:10px;
  color: whitesmoke;
  background: red;
  border-radius: 8px;
  margin: 0 auto 10px;
}
.prof-destroy{
  display: block;
  font-size: 16px;
  width: 300px;
  padding:10px;
  color: black;
  background: burlywood;
  border-radius: 8px;
  margin: 0 auto 30px;
  border: none;
  cursor: pointer;
  cursor: hand;
}

/* === ユーザー情報の編集 ========================================== */

.back{
  margin-bottom: 30px;
}


/* === 現在相談中の内容 ========================================== */
.now-question #question-table{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  margin: 20px auto 0px;
}
.now-question #question-table .post{
  position: relative;
  background-image: image-url("nayami.jpeg");
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: right bottom;
  background-color: white;
  width: 230px;
  height: 200px;
  text-align: left;
  padding: 8px;
  margin: 0px 15px;
  border: 3px solid #000;
}

.now-question #question-table .post .title{
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 7px 10px;
  width: 100%;
  max-width: 100%;
  color: #333;
  font-size: 14px;
  line-height: 140%;
  border: solid 3px #333;
  box-sizing: border-box;
  background: #FFFFE0;
}

/* === これまでにアドバイスした相談 ========================================== */
.archive li{
  margin: 0 0 10px 5px;
}
.archive-link{
  font-size:14px;
  padding-left: 5px;
}
.archive-link:hover{
  text-decoration: underline;
}

/* === 退会ポップアップウインドウ ========================================== */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
.kome{
  color: #333;
  font-size: 13px;
  margin-top: 8px;
}
.delete{
  display: block;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}